<div style="background:black;padding:15px;">
    <a href="/" style="color:white;margin-right:20px;">Home</a>

    <a href="/dashboard" style="color:white;margin-right:20px;">
        Dashboard
    </a>

    <a href="/view_properties" style="color:white;margin-right:20px;">
        Properties
    </a>

    <a href="/search" style="color:white;margin-right:20px;">
        Search
    </a>

    <a href="/predict" style="color:white;margin-right:20px;">
        Rent Prediction
    </a>

    <a href="/rent_chart" style="color:white;margin-right:20px;">
        Analytics
    </a>

    <a href="/logout" style="color:white;">
        Logout
    </a>
</div>
<!DOCTYPE html>
<html>
<head>
    <title>Edit Property</title>
</head>
<body>

<h2>Edit Property</h2>

<form method="POST">

Owner Name

<input type="text"
name="owner_name"
value="{{property[1]}}">

<br><br>

Location

<input type="text"
name="location"
value="{{property[2]}}">

<br><br>

BHK

<input type="number"
name="bhk"
value="{{property[3]}}">

<br><br>

Area

<input type="number"
name="area"
value="{{property[4]}}">

<br><br>

Rent

<input type="number"
name="rent"
value="{{property[5]}}">

<br><br>

Furnished

<input type="text"
name="furnished"
value="{{property[6]}}">

<br><br>

<input type="submit"
value="Update Property">

</form>

</body>
</html>