<div style="background:black;padding:15px;">
    <a href="/" style="color:white;margin-right:20px;">Home</a>

    <a href="/dashboard" style="color:white;margin-right:20px;">
        Dashboard
    </a>

    <a href="/view_properties" style="color:white;margin-right:20px;">
        Properties
    </a>

    <a href="/search" style="color:white;margin-right:20px;">
        Search
    </a>

    <a href="/predict" style="color:white;margin-right:20px;">
        Rent Prediction
    </a>

    <a href="/rent_chart" style="color:white;margin-right:20px;">
        Analytics
    </a>

    <a href="/logout" style="color:white;">
        Logout
    </a>
</div>
<!DOCTYPE html>
<html>
<body>

<h1>Rent Analytics</h1>

<img
src="{{ url_for('static',
filename='charts/rent_chart.png') }}"
width="800">

</body>
</html>